* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

.carousel-indicators li {
  width: 15px;
  height: 15px;
  border-top: 0;
  border-bottom: 0;
  border-radius: 30px;
}

.carousel-inner {
  height: 50vw;
}
